<!DOCTYPE html>

<html>

<head>

<title>web structure</title>

<link rel="stylesheet" href="E:\HARSHAL\all css files\layout\structure-2.css">

</head>

<body>
<!--main-->

<div class="main">

<!--header-->

<div class="header">

<h1>Zero FASHION</h1>

</div>

<!--menu-->

<div class="menu">


<ul>

<li><a href="#about">ABOUT</a></li>
<li><a href="#fashion">FASHION</a></li>
<li><a href="#newone">NEW ONE</a></li>
<li><a href="#popular">POPULAR</a></li>
</ul>


</div>

<!--banner-->

<div class="banner">

<section id="about">
<h2>ABOUT</h2>


<img src="E:\HARSHAL\all css files\layout\img.jpg" height="350px" width="1200px">

</div>

<!--content-->

<div class="content">


<div class="author">


<img src="E:\HARSHAL\all css files\layout\img2.jpg" height="400px" width="350px">
</div>


<div class="cont">

<img src="E:\HARSHAL\all css files\layout\img3.jpg" height="400px" width="850px">

</div>


</section>

</div>

<!--page 2-->

<div class="page2">

<section id="fashion">
<h2>FASHION</h2>

<!--box1-->

<div class="box1">

<img src="E:\HARSHAL\all css files\layout\img4.jpg" height="500px" width="1200px">

</div>

<!--box2-->

<div class="box2">

<img src="E:\HARSHAL\all css files\layout\img5.jpg" height="500px" width="1200px">

</div>

</section>

</div>


<!--page 3-->

<div class="page3">

<section id="newone">
<h2>NEWONE</h2>

<!--b1-->

<div class="b1">

<img src="E:\HARSHAL\all css files\layout\img6.jpg" height="250px" width="600px">

</div>

<div class="b1-1"></div>
<!--b2-->

<div class="b2">

<img src="E:\HARSHAL\all css files\layout\img7.jpg" height="250px" width="600px">

</div>

<!--b3-->

<div class="b3">

<img src="E:\HARSHAL\all css files\layout\img8.jpg" height="250px" width="600px">

</div>

<div class="b1-1"></div>


<!--b4-->

<div class="b4">

<img src="E:\HARSHAL\all css files\layout\img9.jpg" height="250px" width="600px">

</div>


</section>

</div>



<!--page 4-->

<div class="page4">

<section id="popular">
<h2>POPULAR</h2>

<!--bo1-->

<div class="bo1">

<img src="E:\HARSHAL\all css files\layout\img10.jpg" height="500px" width="1200px">

</div>


<!--bo2-->

<div class="bo2">

<img src="E:\HARSHAL\all css files\layout\img11.jpg" height="500px" width="1200px">

</div>


</section>

</div>




<!--footer-->

<div class="footer">
@LOGO@ <br>
www.ZeroFASHION.com <br>
COPYRIGHT © 2022 Zero FASHION <br>
ALL RIGHTS RESERVED 
</div>



</div>



</body>
</html>